body {
    background: linear-gradient(to bottom, rgb(36, 35, 35), #f03a3a); /* linear-gradiente método de css para hacer degradados */
    margin: 0;
    padding: 0;
    height: 100vh; /*se ajusta a la altura total de la pantalla */
}

.contenedor-transparente {
    background-color: rgba(243, 242, 242, 0.397);
    padding: 20px; /* Relleno interior */
    width: 70%; /* Ancho */
    margin: 5% auto;  /* Centrado horizontal */
    border-radius: 10px; /* Borde redondeado */

}

.mx-auto {   /*tamaño logo*/
    width: 30%;
}

#linea {
    display: flex;
    border-color: #f8f7f7;
    margin-top: 10px;
    /* Ajusta el espacio entre la línea y este elemento */

}