#particles-js {
    background: linear-gradient(176deg, #080810, #0f42af);
  }
  
  .bg-red-1200 {
    background-color: #0f42af;
  }
  
  .hover\:bg-red-1200:hover {
    background: linear-gradient(176deg, #0f42af, #0f42afe8);
  }
  
  .text-red-1200 {
    color: #0f42af;
  }
  
  @keyframes typing {
    0% { width: 0; }
    50%, 100% { width: 100%; }
  }
  
  h1 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 8s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
  }
  
  #fondo-index{
    background-image: url('img/fondoInicio.webp');
  }
  