body {
    background: linear-gradient(to bottom, rgb(36, 35, 35), #f03a3a); /* linear-gradiente método de css para hacer degradados */
    margin: 0;
    padding: 0;
    height: 100%; /*se ajusta a la altura total de la pantalla */
}

.mx-auto {   /*tamaño logo*/
    width: 30%;
}

#anchotabla{
   
    width: 150%;
    height: 80%;
}

#formulario{
    width: 50%;
    
}