body {
    background: linear-gradient(176deg, #080810, #0f42af);
}


.contenedorLiquidar {
    max-width: 640px;
    margin: 5rem auto;
    background-color: white;
    padding: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.botones {
    background-color: #0f42af;
    color: white;


}

.botones:hover {
    background: linear-gradient(176deg, #0f42af, #335ebd);

}