body{
    background-color: #e4e5e6b0;
}

.logo{
    width: 10%;

}

#anchotabla{
   
    width: 150%;
    height: 80%;
}

#formulario{
    width: 50%;
    
}

.botones {
    background-color: #0f42af;
    color: white;
    

}

.botones:hover{
    background: linear-gradient(176deg,  #0f42af,  #335ebd);
  
}