body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    height: 100vh;
    /*se ajusta a la altura total de la pantalla */
}


tr:hover {
    background-color: #ececec;
}


.botonInforEmpleado {
    position: relative;
    background-color: white;
    /* Otros estilos para el botón */
}

.botonInforEmpleado:hover {
    background: linear-gradient(176deg, #0f42af, #0f42af);
    /* Otros estilos para el botón al pasar el cursor */
}

.botonInforEmpleado::after {
    content: "Ver más información";
    position: absolute;
    top: -3rem; /* Ajusta la posición vertical del mensaje según el tamaño del botón */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0; /* Inicialmente invisible */
    pointer-events: none; /* Evita la interacción con el mensaje */
    transition: opacity 0.3s ease; /* Agrega una transición suave */
    z-index: 10; /* Asegura que el mensaje esté por encima del botón */
}

.botonInforEmpleado:hover::after {
    opacity: 1; /* Hace visible el mensaje al pasar el cursor */
}


.botonliquidar {
    position: relative;
    background-color: white;
    /* Otros estilos para el botón */
}

.botonliquidar:hover {
    background: linear-gradient(176deg, #0f42af, #0f42af);
  
}

.botonliquidar::after {
    content: "Liquidar";
    position: absolute;
    top: -3rem; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.3s ease; 
    z-index: 10; 
}

.botonliquidar:hover::after {
    opacity: 1; 
}
